// Font size
$base-font-size: 1.8rem;
$card-font-size: 1.4rem;
$title-section-font-size: 2.4rem;

// Colors
$base-color: #de3162;
$base-color-hover: #d32f5d;
$black: #242734;
$gray: #a0949b;
$white: #ffffff;
